<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<label>Server Name</label>
			<input
				type="text"
				class="form-control"
				(input)="onUpdateServerName($event)"
			/>
			<input
				type="text"
				class="form-control"
				[(ngModel)]="serverName"
			/>
			<button (dblclick)="onCreateServer()" [disabled]="allowNewServer()" class="btn btn-primary">Add Server</button>
			<ul>
				<li *ngFor="let item of servers ngForOf as bozo">
					{{item}} || {{bozo}}
				</li>
			</ul>
			<app-server></app-server>
			<app-server></app-server>

			<p [ngClass]="name === 'Jay' ? class1 : class2" [ngStyle]="{'background-color': 'green'}">
				{{serverCreationStatus}}
			</p>
		</div>
	</div>
</div>
